.login-card{
  text-align: center;
}
.login-input{
  width: 100%;
}
.login-error{
  font-size: 12px;
  color: #c3594a;
  float: left;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.example-card{
  max-width: 440px;
}
