<div class="example-container" [hidden]="hideForm">
  <mat-card class="login-card">
    <mat-card-title>Login Card</mat-card-title>
    <form [formGroup]='loginForm' (ngSubmit)="PostData(loginForm)">
      <mat-form-field class="login-input">
        <input matInput formControlName="uname" name="uname" id="uname" placeholder="Username">
      </mat-form-field>
      <div *ngIf="loginForm.controls['uname'].touched && !loginForm.controls['uname'].valid">
        <span *ngIf="loginForm.controls['uname'].hasError('required')" class="login-error">Username is required</span>
        <span *ngIf="loginForm.controls['uname'].hasError('minlength')" class="login-error">Enter atleast 4 Characters</span>
        <span *ngIf="loginForm.controls['uname'].hasError('pattern')" class="login-error">Please enter a valid Email</span>
        <span *ngIf="loginForm.controls['uname'].hasError('maxlength')" class="login-error">Maximum 10 Characters allowed</span>
      </div>

      <mat-form-field class="login-input">
        <input matInput type="password" formControlName="pass" name="pass" id="pass" placeholder="Password">
      </mat-form-field>
      <div *ngIf="loginForm.controls['pass'].touched && !loginForm.controls['pass'].valid">
        <span *ngIf="loginForm.controls['pass'].hasError('required')" class="login-error">Password is required</span>
        <span *ngIf="loginForm.controls['pass'].hasError('minlength')" class="login-error">Enter atleast 6 Characters</span>
      </div>

      <mat-form-field class="login-input">
        <mat-select placeholder="Select" formControlName="opt" name="opt" id="opt">
          <mat-option value="1">Admin</mat-option>
          <mat-option value="2">Local</mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="loginForm.controls['opt'].touched && !loginForm.controls['opt'].valid">
        <span *ngIf="loginForm.controls['opt'].hasError('required')" class="login-error">Please select one option</span>
      </div>
      <button mat-button type="submit" [disabled]="loginForm.invalid">Submit</button>
    </form>
  </mat-card>
</div>
<mat-card class="example-card" *ngIf="hideForm">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
