<mat-toolbar color="primary">
  <a _ngcontent-c1="" class="docs-navbar-hide-small docs-button mat-button ng-star-inserted" mat-button="" tabindex="0"
     aria-disabled="false" href="/"><span class="mat-button-wrapper">Home</span>
  </a>
  <a _ngcontent-c1="" class="docs-navbar-hide-small docs-button mat-button ng-star-inserted" mat-button="" tabindex="0"
     aria-disabled="false" href="/form"><span class="mat-button-wrapper">Form</span>
  </a>
  <button mat-button [matMenuTriggerFor]="menu">Menu</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>
</mat-toolbar>
<router-outlet></router-outlet>
